html,
body,
main {
	height: 100%;
}

main {
	padding-left: 158px;
	padding-top: 55px;
}
.zero-padding{
	padding-left:0;
}
#navbar {
	height: 55px;
	line-height: 55px;
/*	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
	background: linear-gradient(141deg, #F44336 0%, rgb(244, 67, 54) 51%, #E53935 75%);
	position: absolute;
	z-index: 99;
	box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0;
}
#account{
	margin-top:55px;
	width: 160px!important;
	left: inherit!important;
	right: 0px!important;
}
#account li{
	text-align: right;
}
#account li a {
	color: rgba(0, 0, 0, 0.87);
}
#sidebar {
	position: fixed;
	z-index: 90;
	width: 158px;
	padding-top: 110px;
	/*  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);*/
}

#sidebar a {
	padding-left: 13px;
	padding-right: 13px;
}

#sidebar i {
	margin: 0 20px 0 0;
}
#sidebar-toggle{  
	width: 50px;
	height: 50px;
    left: 20px;
    bottom: 50px;
}   
#logo {
	padding-left: 20px;
}
#hide{
	
}
.visible {
	display: block;
}

.invisible {
	display: none;
}
.series-img{
	height: 190px;
}
.episode-list-header {
	background-color: rgb(0, 142, 255)!important; 
	color: white;
}
.episode-list-header,
.episode-header{
	margin:0;
}
.seasons li a{ 
	color: initial!important;
}
.seasons li a.active { 
	background-color: rgb(0, 142, 255)!important;
	color: white!important;
}
.series-poster-wrapper{
	height: 400px; 
	background-size: cover!important;
	background-attachment: fixed!important;
}

.series-poster-block {
	float: right;
	width: 250px;
	margin: 60px 40px;
}

.series-poster-img {
	max-width: 250px;
}
.section-title {
	color: teal;
	font-weight: 100;
}
.series-overview,
.title-block {
	padding: 10px 20px;
	font-size: 18px;
	list-style: 28px;
}
.title {
	padding-right:20px;
	display: inline-block; 
}

.rating {
	padding-left: 20px;
	font-size: 2.5rem;
}
.watchlist-btn:hover {
	background-color: inherit;
	box-shadow: 0 0 0;
}

.watchlist-btn:focus {
	background-color: inherit;
	color: #2196f3;
	outline: none;
}

.watchlist-btn-true {
	background-color: #2196f3!important;
	color: white!important;
	outline: none!important;
}
.watchlist-btn {
	width: 100%;
	margin: 5px 0px;
	box-shadow: 0 0 0;
	color: #2196f3;
	background: white;
	border: solid 2px #2196f3;
}

.stars-container {
	font-size: 3rem;
	position: relative;
	display: inline-block;
	color: transparent;
}

.stars-container:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '★★★★★';
	color: lightgray;
}

.stars-container:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '★★★★★';
	color: gold;
	overflow: hidden;
}

.stars-0:after {
	width: 0%;
}

.stars-10:after {
	width: 10%;
}

.stars-20:after {
	width: 20%;
}

.stars-30:after {
	width: 30%;
}

.stars-40:after {
	width: 40%;
}

.stars-50:after {
	width: 50%;
}

.stars-60:after {
	width: 60%;
}

.stars-70:after {
	width: 70%;
}

.stars-80:after {
	width: 80%;
}

.stars-90:after {
	width: 90%;
}

.stars-100:after {
	width: 100;
}
.pop-img {}

.card-title a {
	color: #686f73;
	font-size: 20px;
}
.pop-body {
	height: 80px;
	padding: 10px!important;
}

@media (min-width: 600px) and (max-width: 992px) {
	/* Μedium*/
	#sidebar {
		-webkit-transform: translateX(0%) !important;
		transform: translateX(0%) !important;
		width: 50px;
		-webkit-transition: width .1s;
		transition: width .1s;
	}
	.sidebar-text {
		display: none;
	}
	main {
		padding-left: 50px;
	}
}

@media (max-width: 600px) {
	/* Small */
	main {
		padding-left: 0;
	}
	#sidebar {
		z-index: 999;
/*
		display: none;
		-webkit-transform: translateX(0%) !important;
		transform: translateX(0%) !important;
*/
	}
	.series-poster-block{margin:0 auto; padding-top: 30px; float: none;}
	.series-poster-wrapper { height: 350px; } 
	.title-block { margin-top:100px; text-align: center;}
}

@media (min-width: 993px) and (max-width: 1200px) {
	/* Large */
}

@media (min-width: 1201px) {
	/* Large */
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiQzpcXHdhbXA2NFxcd3d3XFxzYW1pLWxhcmF2ZWxcXHJlc291cmNlc1xcYXNzZXRzXFxzYXNzXFxhcHAuc2NzcyIsInNvdXJjZXMiOlsiL3dhbXA2NC93d3cvc2FtaS1sYXJhdmVsL3Jlc291cmNlcy9hc3NldHMvc2Fzcy9hcHAuc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyJcbi8vIEZvbnRzXG4vL0BpbXBvcnQgdXJsKGh0dHBzOi8vZm9udHMuZ29vZ2xlYXBpcy5jb20vY3NzP2ZhbWlseT1SYWxld2F5OjMwMCw0MDAsNjAwKTtcblxuLy8gVmFyaWFibGVzXG4vL0BpbXBvcnQgXCJ2YXJpYWJsZXNcIjtcblxuXG4vLyBCb290c3RyYXBcbi8vQGltcG9ydCBcIm5vZGVfbW9kdWxlcy9ib290c3RyYXAtc2Fzcy9hc3NldHMvc3R5bGVzaGVldHMvYm9vdHN0cmFwXCI7XG5cbmh0bWwsYm9keXtcbiAgaGVpZ2h0OiAxMDAlO1xufVxuI3NpZGViYXIgYXtcbiAgcGFkZGluZy1sZWZ0OiAxM3B4O1xufVxuLmNvbnRlbnR7ICBcbiAgcG9zaXRpb246IGFic29sdXRlOyBcbiAgbWFyZ2luLWxlZnQ6IDIxMHB4OyBcbiAgbWFyZ2luLXRvcDogOTBweDtcbiAgY2xlYXI6IGJvdGg7XG59XG4jbmF2YmFye1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIHotaW5kZXg6IDk5O1xuICBib3gtc2hhZG93OiAwIDAgMCAwICwgMCAwIDAgMCAsIDAgMCAwO1xuIH0gXG4jc2lkZWJhcnsgICBcbiAgcG9zaXRpb246IGZpeGVkOyBcbiAgei1pbmRleDogOTA7IFxuICB3aWR0aDogMTkwcHg7IFxuICBwYWRkaW5nLXRvcDo5MHB4OyAgIFxuXG4vKiAgYm94LXNoYWRvdzogMCAycHggMnB4IDAgcmdiYSgwLDAsMCwwLjE0KSwgMCAxcHggNXB4IDAgcmdiYSgwLDAsMCwwLjEyKSwgMCAzcHggMXB4IC0ycHggcmdiYSgwLDAsMCwwLjIpOyovXG4gIFxuICBcbn1cbkBtZWRpYSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDk5MnB4KSB7XG4gICNzaWRlYmFyIHsgIFxuICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWCgwJSkhaW1wb3J0YW50O1xuICAgIHdpZHRoOiA1MHB4O1xuICAgIHRyYW5zaXRpb246IHdpZHRoIC4xcztcbiAgfSBcbiAgLnNpZGViYXItdGV4dHtcbiAgICBkaXNwbGF5OiBub25lOyBcbiAgfVxuICAuY29udGVudHtcbiAgICBtYXJnaW4tbGVmdDogNzBweDtcbiAgfVxufSAiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBV0EsQUFBQSxJQUFJLEVBQUMsQUFBQSxJQUFJLENBQUE7RUFDUCxNQUFNLEVBQUUsSUFBSTtDQUNiOztBQUNELEFBQVMsUUFBRCxDQUFDLENBQUMsQ0FBQTtFQUNSLFlBQVksRUFBRSxJQUFJO0NBQ25COztBQUNELEFBQUEsUUFBUSxDQUFBO0VBQ04sUUFBUSxFQUFFLFFBQVE7RUFDbEIsV0FBVyxFQUFFLEtBQUs7RUFDbEIsVUFBVSxFQUFFLElBQUk7RUFDaEIsS0FBSyxFQUFFLElBQUk7Q0FDWjs7QUFDRCxBQUFBLE9BQU8sQ0FBQTtFQUNMLFFBQVEsRUFBRSxRQUFRO0VBQ2xCLE9BQU8sRUFBRSxFQUFFO0VBQ1gsVUFBVSxFQUFFLHlCQUF5QjtDQUNyQzs7QUFDRixBQUFBLFFBQVEsQ0FBQTtFQUNOLFFBQVEsRUFBRSxLQUFLO0VBQ2YsT0FBTyxFQUFFLEVBQUU7RUFDWCxLQUFLLEVBQUUsS0FBSztFQUNaLFdBQVcsRUFBQyxJQUFJO0VBRWxCLDZHQUE2RztDQUc1Rzs7QUFDRCxNQUFNLENBQUMsTUFBTSxNQUFNLFNBQVMsRUFBRSxLQUFLO0VBQ2pDLEFBQUEsUUFBUSxDQUFDO0lBQ1AsU0FBUyxFQUFFLGNBQWMsQ0FBQSxVQUFVO0lBQ25DLEtBQUssRUFBRSxJQUFJO0lBQ1gsVUFBVSxFQUFFLFNBQVM7R0FDdEI7RUFDRCxBQUFBLGFBQWEsQ0FBQTtJQUNYLE9BQU8sRUFBRSxJQUFJO0dBQ2Q7RUFDRCxBQUFBLFFBQVEsQ0FBQTtJQUNOLFdBQVcsRUFBRSxJQUFJO0dBQ2xCIn0= */
